<!DOCTYPE html>
 <html xmlns:th="http://www.thymeleaf.org"
 	   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout/layout}">
 <head>
 <meta charset="UTF-8">
 <title>Insert title here</title>
 <style>
   .salaryred{ color:Red}
   .salarybold { font-weight: bold }
 </style>
 <script>
 function gopage(p){
		frmSearch.page.value = p;
		frmSearch.submit();
		//location.href= 'empList?page=' + p
	}
	function init(){
		frmSearch.departmentId.value=""
		frmSearch.firstName.value=""
		frmSearch.managerId.value=""
	}
 </script>
 </head>
 <body layout:fragment="content">
 	<h1>사원목록</h1>
 	
 <!--  검색 폼 시작 -->
	<form name="frmSearch" th:object="${empVO}" action="empList">
		<input type="hidden" name="page">
		<select name="departmentId" th:value="*{departmentId}">
			<option value="">선택
			<option value="10" th:selected="*{departmentId}=='10'">Administration
			<option value="20" th:selected="*{departmentId}=='20'">	Marketing
			<option value="50" th:selected="*{departmentId}=='50'">	Shipping
			<option value="60" th:selected="*{departmentId}=='60'">	IT
			<option value="80" th:selected="*{departmentId}=='80'">	Sales
			<option value="90" th:selected="*{departmentId}=='90'">	Executive
			<option value="110" th:selected="*{departmentId}=='100'">Accounting
		</select>	
		firstName<input name="firstName" th:value="*{firstName}">
		ManagerId<input name="managerId" th:value="*{managerId}">
		<button type="button" onclick="gopage(1)">검색</button>
		<button type="button" onclick="init()">초기화</button>
	</form>
    
   <!--  검색 폼 끝 -->
 	
 	<!--/* [[${}]]는 값을 출력 */-->
 	전체건수 : [[${#lists.size(empList)}]]  <br>
 	
 	<button type="button" onclick="location.href='report'">pdf출력</button>
 		<table class="table">
  			<tr>
  			<th>No</th>
    			<th>employee_id</th>
    			<th>first_name</th>
    			<th>last_name</th>
    			<th>hire_date</th>
  		</tr>
  		<tr th:each="emp : ${empList}">
  			 <td th:text="${empStat.index}">1</td>
   			 <td th:text="${emp.employeeId}">100</td>
    		 <td><a th:href="@{/emp/emp(employeeId=${emp.employeeId})}" th:text="${emp.firstName}">길동</a></td>
    		 <td th:text="${emp.lastName}">홍</td>
    		 <td class="salarybold" 
    		     th:classappend="${emp.salary>10000? 'salaryred' : '' }">
    		     [[${emp.salary}]]<button th:if="${emp.salary < 10000}">신청</button></td>
    		     <!-- classappend에서 append는 class를 중복해서 사용해야될 때 append 붙여주면 됨(class 외 다른거에도 append 붙여주면 사용가능) -->
    		 <td th:text="${ #dates.format(emp.hireDate, 'yyyy-MM')}">2024-01-01</td>
  		</tr>
		 </table>
		 
<!-- 페이징 시작 -->
	<nav aria-label="...">
	  <ul class="pagination">
	    <li class="page-item" th:if="${paging.startPage} > 1 ">
	        <a class="page-link" th:href="|javascript:gopage(${paging.startPage-1})|">Previous</a></li>

	    <li th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}" 
	        class="page-item" 
	        th:addclass="${num} == ${paging.page} ? active">
	        <a class="page-link" th:href="|javascript:gopage(${num})|"  th:text="${num}">2</a></li>
	    
	    <li class="page-item" th:classappend="${paging.endPage} <= ${paging.lastPage} ? disabled">
	        <a class="page-link" th:href="|javascript:gopage(${paging.endPage+1})|">Next</a></li>
	  </ul>
	</nav>
<!-- 페이징 종료 -->
	<!-- 자바스크립트 형식으로 소스에서 확인 가능 -->
	<script th:inline="javascript">
		let list = [[${empList}]]
	</script>
 	</body>
 </html>