<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.board.mapper.BoardMapper">


<!-- 전체조회 -->
<select id="selectBoard" 
         resultType="boardVO">
	SELECT BNO,
           TITLE,
           CONTENT,
           WRITER,
           REGDATE,
           UPDATEDATE
    FROM TBL_BOARD
</select>

<!-- 단건조회 -->
<select id="selectBoardById" resultType="boardVO" parameterType="Long">
	SELECT BNO,
           TITLE,
           CONTENT,
           WRITER,
           REGDATE,
           UPDATEDATE
    FROM TBL_BOARD
    WHERE BNO = #{bno}
</select>

<!-- 등록 -->
<insert id="insertBoard">
	INSERT INTO TBL_BOARD
</insert>
<!-- 수정 -->


<!-- 삭제 -->
<delete id="deleteBoard" parameterType="Long">
	DELETE TBL_BOARD
	WHERE BNO = #{bno}
</delete>


</mapper>