<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
  </head>
  <body>
    <h1>단건 조회</h1>
    <table>
      <tr>
        <td>NO.</td>
        <td th:text="${board.bno}"></td>
      </tr>
      <tr>
        <td>내용</td>
        <td th:text="${board.content}"></td>
      </tr>
      <tr>
        <td>등록일</td>
        <td th:text="${#dates.format(board.regDate, 'yyyy-MM-dd')}"></td>
      </tr>
      <tr>
        <td>수정일</td>
        <td th:text="${ #dates.format(board.updateDate, 'yyyy-MM-dd')}"></td>
      </tr>

    </table>
  </body>
</html>