<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
  </head>
  <body>
  <!-- 게시글 단건조회 시작 -->
    <h1>게시글정보</h1>
    <table class="table">
      <tr>
        <td>NO.</td>
        <td th:text="${board.bno}"></td>
      </tr>
       <tr>
        <td>작성자</td>
        <td th:text="${board.writer}"></td>
      </tr>
      <tr>
        <td>내용</td>
        <td th:text="${board.content}"></td>
      </tr>
      <tr>
        <td>등록일</td>
        <td th:text="${#dates.format(board.regDate, 'yyyy-MM-dd')}"></td>
      </tr>
      <tr>
        <td>수정일</td>
        <td th:text="${ #dates.format(board.updateDate, 'yyyy-MM-dd')}"></td>
      </tr>
      
    </table>
 <!-- 댓글 시작 -->
 <div id = "replyList"></div>
 <!-- 댓글 끝 -->
 
 <!-- 댓글등록 시작 -->
 <form id="replyForm">
 	<input name="reply">
 	<input name="replyer">
 	<input name="bno" type="hidden" th:value="${board.bno}">
 	<button type="button" class="btnReplyInsert">저장</button> 	
 </form>
 <!-- 댓글등록 끝 -->
 
 <script>
 replyList();
 replyInsert();
 replyDelete();
 replyUpdate();
 replyUpdateForm();
 replyCancel();
 
 
 /*-------------------------------------
 등록 버튼 이벤트 지정
 ---------------------------------------*/	
 const url = "/reply";
 
 

 /*-------------------------------------
 댓글 조회 ajax 호출
 ---------------------------------------*/
 function replyList(){
	const bno = replyForm.bno.value;
 	const url = `/board/${bno}/reply`
 	fetch( url )
 	.then( result => result.json() )
 	.then( result => replyListCallback(result) )
 }


 /*-------------------------------------
 댓글 조회 콜백
 ---------------------------------------*/
 function replyListCallback(result){
 	const replys = document.querySelector("#replyList");
 	replys.innerHTML = "";
 	result.forEach(item => replys.insertAdjacentElement("beforeend", replyMake(item)) );
 }

 /*-------------------------------------
 댓글 조회 태그 생성
 ---------------------------------------*/
 function replyMake(item){
 	let tag = document.createElement("div");
 	tag.className = "row mt-2";
 	tag.innerHTML = `
         <div class="col-6">${item.reply}</div>
         <div class="col-3">${item.replyer}</div>
         <div class="col-3">
           <button type="button"
                   data-rno="${item.rno}" 
                   class="btn btn-success btnReplyUpdateForm">수정</button>			                           
           <button type="button"
                   data-rno="${item.rno}" 
                   class="btn btn-danger btnReplyDelete">삭제</button>
         </div>`;
     return tag;    
 }

 
 function replyInsert(){
 	document.querySelector(".btnReplyInsert").addEventListener("click", function(){


 		//파라미터 만들기
 		const reply = replyForm.reply.value;
 		const replyer = replyForm.replyer.value;
 		const bno = replyForm.bno.value;
 		const param = {reply, replyer, bno}
 		
 		//등록 요청
 		fetch(url, {
 			method:"post",
 			headers: {
 			      "Content-Type": "application/json",
 			      // 'Content-Type': 'application/x-www-form-urlencoded',
 			    },
 			body : JSON.stringify(param), 
 		})
 		.then( result => result.json() )
 		.then( result => replyList() ) //true 1 => vo 
 		//replyList()는 등록 후 목록 바로 불러오기 호출 
 	})
 } 
 
 /*-------------------------------------
 댓글 삭제 ajax 호출
 ---------------------------------------*/
 function replyDelete(){
 	document.querySelector("#replyList").addEventListener("click", function(){
 		//삭제버튼이면
 		if(event.target.classList.contains("btnReplyDelete")) {
 			if(! confirm("삭제할까요")){
 				return;
 			}
 			// 버튼을 포함하는 부모태그
 			const div = event.target.closest(".row");
 			// 삭제할 댓글번호 
 			const rno = event.target.dataset.rno;
 			// 서버 삭제 요청
 			const url = `/reply/${rno}`;
 			fetch(url, {method:"delete"})
 			.then(result => result.text())
 			.then(result => div.remove() )
 		}
 	})
 }
 
	
 /*-------------------------------------
 수정폼 버튼 이벤트 지정
 ---------------------------------------*/	
 function replyUpdateForm(){

 	document.querySelector("#replyList").addEventListener("click", function(event){
 		//수정 폼 버튼이면
 		if(event.target.classList.contains("btnReplyUpdateForm")) {
 			// 버튼을 포함하는 부모태그
 			const div = event.target.closest(".row");
 			
 			// 수정할 데이터 
 			const rno = event.target.dataset.rno;
 			const reply = div.children[0].innerHTML;
 			const replyer = div.children[1].innerHTML;
 		
 			const item = {rno, reply, replyer};
 			
 			// 수정폼으로 변경
 			div.replaceWith( replyFormMake(item) );	
 		}
 	})	
 } 

 /*-------------------------------------
 수정폼 태그 생성
 ---------------------------------------*/
 function replyFormMake(item){
 	let tag = document.createElement("div");
 	tag.className = "replyUpdateForm row mt-2 border";
 	tag.innerHTML = `
         <div class="col-6"><input id="reply" value="${item.reply}" data-value="${item.reply}"></div>
         <div class="col-3"><input id="replyer" value="${item.replyer}" data-value="${item.replyer}" readonly></div>
         <div class="col-3">
         <button type="button"
                 data-rno="${item.rno}" 
                 class="btn btn-danger btnReplyCancel">취소</button>
         <button type="button"
             data-rno="${item.rno}" 
             class="btn btn-success btnReplyUpdate">저장</button>			                           
       </div>`;
     return tag;  
 }


 /*-------------------------------------
 수정 버튼 이벤트 지정
 ---------------------------------------*/	
 function replyUpdate(){
	 	document.querySelector("#replyList").addEventListener("click", function(event){
	 		if(event.target.classList.contains("btnReplyUpdate")) {
	 			if(! confirm("수정할까요")){
	 				return;
	 			}
	 			// 버튼을 포함하는 부모태그
	 			const div = event.target.closest(".row");
	 			// 수정할 댓글번호  
	 			const rno = event.target.dataset.rno;
	 			const reply = div.querySelector("#reply").value
	 			
	 			const param = {rno, reply}
	 			
	 			const url = `/reply/${rno}`;
	 			fetch(url, {
	 	 			method:"put",
	 	 			headers: {
	 	 			      "Content-Type": "application/json",
	 	 			      // 'Content-Type': 'application/x-www-form-urlencoded',
	 	 			    },
	 	 			body : JSON.stringify(param), 
	 	 		})
	 	 		.then( result => result.json() )
	 	 		.then( result => replyList() ) //true 1 => vo 
	 	 		//replyList()는 등록 후 목록 바로 불러오기 호출 
	 			}
	 	 	})
 } 
 

 /*-------------------------------------
 취소 버튼 이벤트 지정
 ---------------------------------------*/	
 function replyCancel(){
 	document.querySelector("#replyList").addEventListener("click", function(event){
 		//수정 폼 버튼이면
 		if(event.target.classList.contains("btnReplyCancel")) {
 			// 버튼을 포함하는 부모태그
 			const div = event.target.closest(".row");
 			
 			// 수정할 데이터 
 			const rno = event.target.dataset.rno;
 			const reply = div.querySelector("#reply").dataset.value;
 			const replyer = div.querySelector("#replyer").dataset.value;
 		
 			const item = {rno, reply, replyer};
 			
 			// 수정폼으로 변경
 			div.replaceWith( replyMake(item) );
 			
 		} //end of if
 	}) // end of addEvent 		
 } //end of function


 	
 </script>
 
  </body>
  
</html>