<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
  </head>
  <body>
    <h1>단건 조회</h1>
    <table>
      <tr>
        <td>사원번호</td>
        <td th:text="${emp.employeeId}">100</td>
      </tr>
      <tr>
        <td>이름</td>
        <td th:text="${emp.firstName}">길동</td>
      </tr>
      <tr>
        <td>급여</td>
        <td th:text="${emp.salary}"></td>
      </tr>
      <tr>
        <td>입사일</td>
        <td th:text="${ #dates.format(emp.hireDate, 'yyyy-MM')}">2024-01-01</td>
      </tr>
      <tr>
        <td>부서명</td>
        <td th:text="${ emp.deptVO.departmentName}"></td>
      </tr>
    </table>
  </body>
</html>
